.box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.material-icons {
  font-size: 2.4em;
  cursor: pointer;
}
.card {
  width: 300px;
}
.card .card-image .card-title {
  color: black;
  font-weight: 400;
}
.cart {
  margin-top: 40px;
}
.collection .collection-item {
  display: flex;
}
.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  margin-bottom: 20px;
}
.collection .collection-item img {
  width: 250px;
  height: 150px;
  margin-right: 25px;
  margin-left: -55px;
}

.custom-rounded {
  border-radius: 25px;
}

.custom-rounded > .card-image > img {
  border-radius: 25px 25px 0 0px;
}

.card-image > img {
  width: 311px;
  height: 160px;
  object-fit: cover;
}

.btn-floating.halfway-fab {
  bottom: -85px;
}

.material-icons.quantity {
  font-size: 25px;
  padding-right: 32px;
}
.add-remove {
  width: max-content;
}

.collection .collection-item.avatar .title {
  font-size: 1em;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 600px) {
  .collection .collection-item.avatar {
    min-height: 84px;
    padding-left: 2px;
  }

  .collection .collection-item img {
    width: 200px;
    margin-right: 23px;
    margin-left: 0px;
  }
}
.progress .indeterminate {
  background-color: #c62828 !important;
}
.progress {
  margin-top: 0px;
  background-color: #c62828b5 !important;
}

.collection-item.avatar .title.confirmed {
  font-size: 1.2em;
  margin-bottom: 50px;
}
