nav ul a {
  display: flex;
  align-items: center;
}
.container {
  min-height: calc(100vh - 170px);
  margin-bottom: 20px;
}

.box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.material-icons {
  font-size: 2.4em;
  cursor: pointer;
}
.card {
  width: 300px;
}
.card .card-image .card-title {
  color: black;
  font-weight: 400;
}
.cart {
  margin-top: 55px;
}
.collection .collection-item {
  display: flex;
}
.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  margin-bottom: 20px;
}
.collection .collection-item img {
  width: 250px;
  height: 150px;
  margin-right: 25px;
  margin-left: -55px;
}

.custom-rounded {
  border-radius: 25px;
}

.custom-rounded > .card-image > img {
  border-radius: 25px 25px 0 0px;
}

.card-image > img {
  width: 311px;
  height: 160px;
  object-fit: cover;
}

.btn-floating.halfway-fab {
  bottom: -85px;
}

.material-icons.quantity {
  font-size: 25px;
  padding-right: 32px;
}
.add-remove {
  width: max-content;
}

.collection .collection-item.avatar .title {
  font-size: 1em;
}

.collection .collection-item img {
  object-fit: cover;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 600px) {
  .collection .collection-item.avatar {
    min-height: 84px;
    padding-left: 2px;
  }

  .collection .collection-item img {
    width: 150px;
    object-fit: cover;
    margin-right: 15px;
    margin-left: 5px;
  }

  .sidenav li > a.profile {
    font-size: 13px;
  }

  .box {
    display: flex;
    justify-content: center;
  }
}

.sidenav li > a {
  color: rgba(0, 0, 0, 0.87) !important;
}
.dropdown-content li > a {
  color: #ee6e73;
}
.progress .indeterminate {
  background-color: #c62828 !important;
}
.progress {
  margin-top: 0px;
  background-color: #d25656b5 !important;
}

.collection-item.avatar .title.confirmed {
  font-size: 1.2em;
  margin-bottom: 50px;
}

.toastr-green {
  background-color: green;
}

.toastr-red {
  background-color: red;
}
.Form {
  padding-top: 15%;
  padding-bottom: 25%;
}

.orders {
  margin-top: 40px;
}
.preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}
